
@{
    ViewBag.Title = "NewPassword";
}
<center>
    <h2>Yeni Şifre Oluşturun</h2>
    <div hidden id="tokenid">@ViewBag.id</div>

    <div class="form-row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 110px;" >Şifre:</span>
            </div>
            <input type="password" class="form-control" id="inputPass1" placeholder="Şifre" aria-label="Şifre" aria-describedby="inputPass1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 110px;" >Şifre Tekrar:</span>
            </div>
            <input type="password" class="form-control" placeholder="Şifre Tekrar" id="inputPass2" aria-label="Şifre" aria-describedby="inputPass2">
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" onclick="NewPasswordCreate($('#tokenid').text(),$('#inputPass1').val(),$('#inputPass2').val())" class="btn btn-info">
                    Şifre Yenile
                </button>
            </div>
        </div>
   
    </div>


</center>